* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 20px;
    height: auto;
    cursor: pointer;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
}

.container div {
    padding: 15px;
}

.dashboard {
    color: white;
    background: rgb(0, 0, 0);
    grid-row: 1 / 3;
}

.dashboard-container {
    position: fixed;
}

.dashboard-title {
    translate: -3%;
}

.dashboard-title h1 {
    display: flex;
    font-size: 24px;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.dashboard-title img {
    width: 45px;
}

.dashboard ul {
    font-size: 18px;
    display: grid;
    list-style: none;
    gap: 15px;
}

.dashboard ul li i {
    width: 25px;
    margin-right: 5px;
}

.dashboard ul li a {
    color: white;
    text-decoration: none;
    text-align: end;
    transition: all 0.4s ease-in;
}

.dashboard ul li a:hover {
    text-decoration-line: underline;
}

.dashboard-links {
    display: grid;
    grid-template-rows: 1fr;
    gap: 50px;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.2);
}

.search {
    display: grid;
    justify-content: start;
    align-items: center;
}

.search form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.account-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: end;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.account-info img {
    margin: 10px 10px 10px 30px;
    width: 20px;
}

.account-info p {
    font-size: 12px;
    margin: 10px;
    cursor: pointer;
}

.search form button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.search form input {
    background: rgb(182, 182, 182);
    width: 25vw;
    height: 20px;
    border-radius: 15px;
    outline: none;
    border: none;
    border: 1px solid black;
    padding: 5px 5px 5px 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.profile-picture {
    background: url("images/profile-picture.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid;
    margin: 10px;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main-content h3 {
    padding-top: 25px;
    padding-left: 20px;
    font-size: 32px;
}

.portfolio {
    grid-column-start: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.projects {
    border-left: 10px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.projects h4 {
    font-size: 24px;
}

.interact-icons {
    display: flex;
    justify-content: end;
    height: 100%;
    align-items: end;
    gap: 45px;
}

.right-section {
    display: grid;
    grid-template-rows: auto 1fr;
    max-height: 0.25fr;
}

.right-section h3 {
    display: grid;
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.announcements {
    display: grid;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0 25px 25px 25px;
}

.announcement-items {
    border-bottom: 1px solid rgb(68, 68, 68, 0.6);
}

.announcement-items p {
    color: rgb(75, 75, 75);
}

.trending {
    display: grid;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0 25px 25px 25px;
    gap: 15px;
}

.trending-items {
    display: flex;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.4s linear;
}

.trending-items:hover {
    background: rgba(0, 0, 0, 0.2);
}


.trending-items span {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid;
    cursor: pointer;
}

.img1 {
    background: url("images/john.jpg");
    background-position: center;
    background-size: cover;
}

.img2 {
    background: url("images/rose.jpg");
    background-position: center;
    background-size: cover;
}

.img3 {
    background: url("images/cornelius.jpg");
    background-position: center;
    background-size: cover;
}

.img4 {
    background: url("images/elonmusk.jpg");
    background-position: center;
    background-size: cover;
}

.trending-user-info {
    display: flex;
    flex-direction: column;
}

.trending-user-info p + p{
    color: rgb(75, 75, 75);
}