@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}
.content {
    position: relative;
    width: 100%;
    height: 100%;
}

.navBar {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.90
    width: 100%;
    height: auto;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navContainer {
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 2.5%;
}

.navContainer h1 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: calc(3vw + 1.5vh);
}
.navTabs {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;`
}

.navTabs li {
    display: block;
    transition: 0.2s ease-in-out;
}

.navTabs li a {
    font-size: calc(2vw + 1vh);
    font-family: 'Oswald', sans-serif;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.navTabs li:hover {
    text-decoration: underline;
    translate: 0 5%;
}

@media (max-width: 300px) {
    .navContainer {
        flex-direction: column;
    }
    .navTabs {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}