@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
    --cell-color: rgb(228, 228, 228);
}

body {
    background: linear-gradient(black, rgb(109, 109, 109), black);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    color: white;
    font-size: calc(0.75vw + 1vh);
    text-align: center;
}

.container {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 75vw;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 5px 5px 25px 25px rgba(0, 0, 0, 0.5);
}

.board {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 3px solid rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
    margin-bottom: 25px;
    grid-gap: 5px;
}

.cell {
    background: var(--cell-color);
    outline: 0;
    width: var(--cell-size);
    height: var(--cell-size);
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cell.x::before,
.cell.x::after,
.cell.o::before {
    background-color: black;
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before {
    background-color: rgb(99, 99, 99);
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .10);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
    width: calc(var(--mark-size) * .9);
    height: calc(var(--mark-size) * .9);
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background: var(--cell-color);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    transition: transform 0.2s ease-in-out;
}

.modal h1 {
    font-size: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

button {
    font-size: 15px;
    background: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 75px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

button:hover {
    background: rgb(134, 134, 134);
}

.modal#active {
    transform: translate(-50%, -50%) scale(1);
}

.overlay {
    background: rgba(0, 0, 0);
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: 0.5s ease-in-out;
}

.overlay#active {
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
}

@media (max-width:500px) {
    :root {
        --cell-size: 50px;
    }
}