@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
    height: 100%;
}

.header {
    display: flex;
    justify-content: start;
    align-items: center;
    background: black;
    color: white;
    padding: 35px;
    position: relative;
    z-index: 1;
}

.add-book {
    background: black;
    color: white;
    font-size: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: 0;
    border: 1px solid rgb(134, 125, 125);
    position: fixed;
    right: 3%;
    bottom: 3%;
    cursor: pointer;
    transform: scale(0);
    transition: scale 0.1s linear;
}

.add-book:hover {
    scale: 1.2;
}

.add-book#active {
    transform: scale(1);
}

.container {
    height: 100%;
}

.add-book-popup {
    background: black;
    color: white;
    width: 45%;
    height: auto;
    padding: 25px;
    position: fixed;
    border: 1px solid black;
    border-radius: 25px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 1;
    transition: transform 0.1s ease-in-out;
}

.add-book-popup#active {
    transform: translate(-50%, -50%) scale(1);
}

.popup-header {
    font-size: 2.25vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

.popup-close {
    color: white;
    border: none;
    outline: none;
    background: none;
    font-size: 5vw;
    cursor: pointer;
}

.popup-body {
    padding: 15px;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.overlay#active {
    opacity: 1;
    pointer-events: all;
}

form {
    display: grid;
    gap: 15px;
}

.input-group label {
    font-size: 1.5vw;
    font-weight: 1000;
}

.input-group input {
    font-size: 1.25vw;
    outline: 0;
    background: transparent;
    color: white;
    border: none;
    border-bottom: 1px dashed;
    width: 100%;
}

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
}

.add-button button {
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
    font-weight: 1000;
    width: 35%;
    height: 100%;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.add-button button:hover {
    scale: 1.025;
}