@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: start;
    align-items: center;
    background: black;
    color: white;
    position: relative;
    z-index: 1;
    height: 100px;
    padding: 10px;
}

.add-book {
    background: black;
    color: white;
    font-size: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: 0;
    border: 1px solid rgb(134, 125, 125);
    position: fixed;
    right: 3%;
    bottom: 3%;
    cursor: pointer;
    transform: scale(0);
    transition: scale 0.1s linear;
}

.add-book:hover {
    scale: 1.2;
}

.add-book#active {
    transform: scale(1);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-book-popup {
    background: black;
    color: white;
    width: 45%;
    height: auto;
    padding: 25px;
    position: fixed;
    border: 1px solid black;
    border-radius: 25px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 1;
    transition: transform 0.1s ease-in-out;
}

.add-book-popup#active {
    transform: translate(-50%, -50%) scale(1);
}

.popup-header {
    font-size: 2.25vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

.popup-close {
    color: white;
    border: none;
    outline: none;
    background: none;
    font-size: 5vw;
    cursor: pointer;
}

.popup-body {
    padding: 15px;
}

.overlay {
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.overlay#active {
    opacity: 1;
    pointer-events: all;
}

form {
    display: grid;
    gap: 15px;
}

.input-group label {
    font-size: 1.5vw;
    font-weight: 1000;
}

.input-group input {
    font-size: 1.25vw;
    outline: 0;
    background: transparent;
    color: white;
    border: none;
    border-bottom: 1px dashed;
    width: 100%;
}

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
}

.add-button button {
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
    font-weight: 1000;
    width: 35%;
    height: 100%;
    border-radius: 15px;
    outline: 0;
    border: none;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.add-button button:hover {
    scale: 1.025;
}

.book-info-container {
    width: 80%;
    height: auto;
    padding: 15px;
}

.library-label h3 {
    margin: 0 0 5px 7px;
    font-size: 24px;
}

.book-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 1fr;
    justify-content: space-evenly;
    padding: 15px;
    border: 1px solid;
    border-radius: 15px;
    gap: 25px;
    height: 100%;
    min-height: 250px;
}

.book {
    background: lightblue;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: 3px solid;
    border-radius: 10px;
    gap: 25px;
}

.book-description {
    display: flex;
    flex-direction: column;
    gap: 2.5px;
    word-break: break-all;
}

.book h4 {
    font-size: 1.5vw;
}

.book h5 {
    font-size: 1.25vw;
}

.book p {
    font-size: 1vw;
}

.book-remove button {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    color: black;
    font-size: 3vw;
    width: 7.5vw;
    height: 4.25vh;
    cursor: pointer;
    border: 2px solid black;
    outline: 0;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.book-remove button:hover {
    scale: 1.1;
    background: rgb(186, 186, 186);
}

.footer {
    background: black;
    color: white;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 260px) {
    .book-info {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}

@media (max-width: 240px) {
    .header {
        justify-content: center;
        text-align: center;
    }

    .library-label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 0;
    }
}