@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

/* Title */
.header {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 42px;
}
/* Etch a Sketch Container */
.container {
    background-color: white;
    width: 100%;
    height: 100%;
    max-width: 650px;
    max-height: 650px;
    display: grid;
}

/* Mode Buttons Container */
.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
    width: 75%;
    gap: 15px;
}

/* Mode Button Appearances */
.btns button {
    background: transparent;
    color: white;
    font-family: 'source sans pro', sans-serif;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 65px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 1px 1px 10px 5px rgba(200,200,200, 0.09);
    transition: all 0.2s ease-in;
    cursor: pointer;
}

/* Color Wheel Input Appearance */
.colorChoice {
    background-color: transparent;
    border: none;
    width: 35px;
    height: 37px;

}

.colorChoice::-webkit-color-swatch {
    box-shadow: 1px 1px 10px 5px rgba(200,200,200, 0.09);
    border: 1px solid white;
    border-radius: 5px;
}

/* Button Clicked Animation */
#clicked {
    scale: 1.1;
    color: black;
    background: white;
}

/* Size Button Containers */
.size {
    display: flex;
    gap: 15px;
    margin: 15px;
    width: 500px;
    justify-content: space-evenly;
    padding: 5px;
}

/* Size Buttons Appearance */
.size button {
    background: transparent;
    color: white;
    font-family: 'source sans pro', sans-serif;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 1px 1px 10px 5px rgba(200,200,200, 0.09);
    transition: all 0.2s ease-in;
    cursor: pointer;
}


/* Responsiveness */
@media (max-width: 600px) {
    .container {
        width: 65%;
        height: 40%;
    }
}

@media (max-width: 500px) {
    .header h1 {
        font-size: 42px;
    }
    .size {
        width: 250px;
        flex-wrap: wrap;
    }
    .size button {
        font-size: 21px;
        width: 75px;
        height: 35px;
    }

    .btns {
        width: 65%;
        flex-direction: column;
    }
    .btns button {
        font-size: 15px;
        width: 75px;
        height: 40px;
    }
}

@media (max-width: 450px) {
    .container {
        width: 45%;
        height: 20%;
    }
}